packages:
  yum:
    nfs-utils: [1.3.0]

commands:
  00_mkdir_mountpoint:
     command: "mkdir /efs -m 0777"
     ignoreErrors: true
  01_mount_efs:
    command: "mount -t nfs4 -o vers=4.1 $(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone).fs-dd965994.efs.us-east-1.amazonaws.com:/ /efs"
    ignoreErrors: true


